@using CodeVision.Web.Common

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeVision-@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/angular.min.js")
    @Scripts.Render("~/Scripts/angular-resource.min.js")
    @Scripts.Render("~/Scripts/angular-ui/ui-bootstrap.min.js")
    @Scripts.Render("~/Scripts/angular-ui/ui-bootstrap-tpls-spacelab.js")
    @Scripts.Render("~/js/app/app.js")
    @Scripts.Render("~/js/app/directives/spinner.js")
    @RenderSection("JavascriptInHead", required: false)
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CodeVision", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.MenuItem("Code Search", "Index", "Home")</li>
                    <li>@Html.MenuItem("Dependency Graph", "Graph", "Home")</li>
                    <li>@Html.MenuItem("Nugets", "Nugets", "Home")</li>
                    <li>@Html.MenuItem("Data Dictionary", "Dictionary", "Home")</li>
                    <li>@Html.MenuItem("Help", "Help", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            CodeVision &copy;
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/prism.js")
    @Scripts.Render("~/Scripts/prism-keep-tags.js")
    @RenderSection("scripts", required: false)
</body>
</html>
