@using CodeVision.Web.ViewModels
@using PagedList.Mvc
@model CodeVision.Web.ViewModels.SearchResult
           
<link href="/Content/PagedList.css" />

@{
    ViewBag.Title = "Home";
}

<style>
    input.big-input {
        width: 600px;
        height:37px
    }
</style>


<div class="container">
    @using (Html.BeginForm("Search", "Home", FormMethod.Post, new {@class="form-inline"}))
    {
        @Html.TextBox("searchExpression", null, new {@class="big-input"})
        <button type="submit" class="btn btn-primary">Search</button>
    }  
    
    
    @if (Model.Hits.Count > 0)
    {
        <h5>Total hits:@Model.TotalHits</h5>
    }

    @foreach (SearchHit hit in Model.Hits)
    {
        <p>
            <div>
                @Html.ActionLink(hit.FriendlyFileName, "Details", "Content", new {hit = @hit.ToString()}, null)
            </div>
            <pre>@Html.Raw(hit.BestFragment)</pre>
        </p>
    }
    
    @Html.PagedListPager(Model.Hits, page => Url.Action("Search", new {SearchExpressionEncoded = Model.SearchExpressionEncoded,  Page = page }))
</div>